header {
  background-color: #16243d;
  color: #97a2b7;
  padding: 10px 0px;
  font-size: 13px;
}

header p {
  margin-bottom: 0px;
}

header ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0px;
}

header li {
  margin-right: 30px;
}

a[href^='mailto'] {
  text-decoration: none;
  color: inherit;
}

a[href^='mailto']:hover {
  text-decoration: underline;
}

.header-icon {
  color: #015fc9;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #015fc9;
}

.social-icons {
  color: #fff;
}

.navbar {
  padding: 30px 0px;
}

.bg-light {
  background-color: #fff !important;
}

.navbar-nav {
  background-color: #f2f5f9;
  border-radius: 8px 0 0 8px;
}

.nav-link {
  padding: 18px 24px !important;    
  font-size: 15px;
}

.logo {
  margin-right: 50px;
}
.quote {
  color: #fff;
  border-radius: 0 8px 8px 0;
}

.phone-icon {
  color: #0ce0ff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 30px;
  border: 1px solid #97a2b7;
  font-size: 25px;
  margin-right: 20px;
}

.number {
  color: #16243d;
  font-size: 16px;
  font-weight: 700;
}

.number:hover {
  color: #0d6efd;
  font-size: 16px;
  font-weight: 700;
}

.nav-item p {
  color: #696e77;
  font-size: 14px;
  margin-top: 0px;
}

/**carousel start**/

.item-1 {
  background: url(https://github.com/Poonam1233/insurance-website/blob/main/src/images/main-slider-1-1.jpg?raw=true);
}
